<table>
	<tr><td><font face="Courier New"><pre>
<br>
Yang terhormat 
$salutation $name, 

Terima kasih telah berpartisipasi pada platform sebagai pemodal di Tokomodal. Berikut data komitmen dana yang akan anda tempatkan :

		Rencana Transfer					: $date
		Jumlah								: $amount
		Unique Number						: $uniqueNumber
		Total yang harus di transfer 		: $totalTransfer
		Ke Rekening							: PT. Toko Modal Mitra Usaha
											  $accountNumber
		Transfer paling lambat pada tanggal : $date jam 23:59.
		
		
Mohon mentransfer uang sesuai dengan jumlah yang tertera tepat sampai ke 3 (tiga digit) terakhir. 
Jika ada pertanyaan silahkan hubungi customer service kami di Tokomodal. Terimakasih.



Hormat Kami,


<b>PT Toko Modal Mitra Usaha</b>
<a href="http://www.tokomodal.co.id">http://www.tokomodal.co.id/</a> 


Note :		
1. Gunakan username dan password yang telah diberikan untuk menggunakan fitur yang telah kami sediakan di tokomodal.
2. Jaga kerahasiaan keanggotaan anda, kami tidak bertanggung jawab atas penyalahgunaan keanggotaan anda.


<br>
<br>
	</pre></font></td></tr>
</table>
