<table>
	<tr><td><font face="Courier New"><pre>
<br>
Yang terhormat 
$salutation $name, 

Kabar gembira, pinjaman anda di Tokomodal telah kami cairkan.
Berikut data pinjaman anda yang telah kami cairkan :

		Pinjaman $loan
		Tanggal Pencairan          : $drawdownDate
		Nilai Pinjaman             : $amount
		Biaya Admin                : $adminFee
		Nilai yang di transfer     : $totalAmount
		Tanggal Jatuh Tempo        : $overDueDate

Demikian kabar gembira dari kami, jika ada pertanyaan silahkan hubungi customer service kami di Tokomodal.
Terimakasih.


Hormat Kami,


<b>PT Toko Modal Mitra Usaha</b>
<a href="http://www.tokomodal.co.id">http://www.tokomodal.co.id/</a> 


Note :		
1. Gunakan username dan password yang telah diberikan untuk menggunakan fitur yang telah kami sediakan di Tokomodal.
2. Jaga kerahasiaan keanggotaan anda, kami tidak bertanggung jawab atas penyalahgunaan keanggotaan anda.

<br>
<br>
	</pre></font></td></tr>
</table>
