<table>
	<tr><td><font face="Courier New"><pre>
<br>
Yang terhormat 
$salutation $name, 
<br>

<table style="width:50%; padding-left:5em">
	<tr><td><b>Nama</td><td>:</td></b>	<td>$name</td></tr>
	<tr><td><b>No. Anggota</td><td>:</td></b>	<td>$accountNo</td></tr>
</table>

Terima kasih anda telah melakukan pembayaran pinjaman sebesar <b>Rp. $amount</b> pada tanggal <b>$paymentDate</b>.

Bukti pembayaran ini sebagai pemberitahuan bahwa pinjaman anda pada tanggal <b>$purchaseDate</b> telah dilunasi.

Demikian informasi yang kami berikan, jika ada pertanyaan silahkan hubungi customer service kami di $phNumber atau $emailContact. 

Terimakasih.


Hormat Kami,


<b>PT Toko Modal Mitra Usaha</b>
<a href="http://www.tokomodal.co.id">http://www.tokomodal.co.id/</a> 
<br>
<br>
	</pre></font></td></tr>
</table>